<div id="auction" class="auction">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header full-size">
      <div class="auction-title">UFE Charity Gala 2013</div>
      <div class="auction-info">
          <div>
            <span class="label">Amount raised</span>
            <span class="value">$<%= number_with_precision(@amount_raised, precision: 0, delimiter: ',') %></span>
          </div>
        </div>
    </div>
  </nav>

  <h1>Silent Auction Results</h1>

  <div class="container results">
    <div class="row">
      <% @auction.each do |item| %>
        <div class="col-md-6">
          <div class="row result-row">
            <div class="col-md-1 result-cell bold"><%= item[:item][:code] %></div>
            <div class="col-md-6 result-cell"><%= item[:item][:name] %></div>
            <div class="col-md-1 result-cell bold">
              <% if item[:bid] %>
                $<%= item[:bid][:price] %>
              <% end %>
            </div>
            <div class="col-md-4 result-cell bold">
              <% if item[:user] %>
                <%= item[:user][:title] %> <%= item[:user][:first_name] %> <%= item[:user][:last_name] %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>