<h1>Listing bids</h1>

<%= link_to admin_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-home">Administration</i>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Price</th>
      <th>Item</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td>$<%= bid.price %></td>
        <td><%= bid.item.name %></td>
        <td><%= bid.user.title %> <%= bid.user.first_name %> <%= bid.user.last_name %></td>
        <td><%= button_to 'Edit', edit_bid_path(bid), method: :get, :class => 'btn btn-primary' %></td>
        <td><%= button_to 'Delete', bid, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
