<h1>Administration</h1>

<%= link_to user_groups_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-user">Manage Tables</i>
<% end %>

<br/>

<%= link_to users_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-user">Manage Users</i>
<% end %>

<br/>

<%= link_to items_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-list-alt">Manage Items</i>
<% end %>

<br/>

<%= link_to bids_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-usd">Manage Bids</i>
<% end %>

<br/>

<%= link_to import_items_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-share">Import Items</i>
<% end %>

<br/>

<%= link_to import_users_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-share">Import Tables</i>
<% end %>
