<h1>Administration</h1>

<%= link_to user_groups_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-user">Manage Tables</i>
<% end %>

<br/>

<%= link_to users_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-user">Manage Users</i>
<% end %>

<br/>

<%= link_to items_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-list-alt">Manage Items</i>
<% end %>

<br/>

<%= link_to bids_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-usd">Manage Bids</i>
<% end %>

<br/>

<%= link_to preferences_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-list-alt">Manage Preferences</i>
<% end %>

<br/>
<hr/>

<%= link_to user_cards_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-user">Export user cards (HTML)</i>
<% end %>
<br/>
<%= link_to "#{user_cards_path}.pdf", html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-user">Export user cards (PDF)</i>
<% end %>

<br/>
<hr/>
<br/>

<%= form_tag(import_items_google_drive_path) do -%>
  <%= text_field_tag 'username', nil, placeholder: 'Google username' %>
  <%= password_field_tag 'password', nil, placeholder: 'Google password' %>
  <%= submit_tag 'Import Items from Google Drive', class: "btn btn-primary" %>
<% end -%>

<br/>

<%= form_tag(import_tables_google_drive_path) do -%>
  <%= text_field_tag 'username', nil, placeholder: 'Google username' %>
  <%= password_field_tag 'password', nil, placeholder: 'Google password' %>
  <%= submit_tag 'Import Tables from Google Drive', class: "btn btn-primary" %>
<% end -%>

<br/>

<%= link_to import_items_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-share">Import Items (Local copy)</i>
<% end %>

<br/>

<%= link_to import_users_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-share">Import Tables (Local copy)</i>
<% end %>
