<h1>Listing users</h1>

<%= link_to admin_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-home">Administration</i>
<% end %>

<br/>

<%= link_to new_user_path, html_options = {class: "btn"} do %>
  <i class="glyphicon glyphicon-plus">New User</i>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Pin</th>
      <th>Table</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.title %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.pin %></td>
        <td><%= user.user_group.name %></td>
        <td><%= button_to 'Edit', edit_user_path(user), method: :get, :class => 'btn btn-primary' %></td>
        <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
