<%= render partial: 'common/authentication_header', locals: {title: "Enter your PIN"} %>

<div id="authenticate" class="list container">
  <div class="row header-row">
    <div class="col-md-12">
      <h3>
        <%= link_to authenticate_select_user_path(@user.user_group), html_options = {class: "btn btn-primary btn-md"} do %>
          <i class="glyphicon glyphicon-chevron-left">Back</i>
        <% end %>
        Please authenticate
      </h3>
      <h4>Enter your PIN</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 list-item username mask1"><%= "#{@user.title} #{@user.first_name} #{@user.last_name}" %></div>
  </div>

  <% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>

  <div class="row">
    <div class="col-xs-8 pin">
      <%= form_tag({},{:class => 'form-horizontal', :role => 'form', :autocomplete => 'off'}) do %>
        <div class="form-group">
          <label for="pin" class="col-xs-2 control-label">PIN</label>
          <div class="col-xs-7">
            <input type="number" class="form-control input-lg" id="pin" name="pin" autocomplete="off">
          </div>
        </div>
        
        <div class="form-group">
          <label for="pin" class="col-xs-2 control-label">&nbsp;</label>
          <div class="col-xs-6">
            <button type="submit" class="btn btn-primary btn-lg">
              <i class="glyphicon glyphicon-user"></i> Validate
            </button>
          </div>
       </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#pin").focus();
  });
</script>