<%= render partial: 'common/host_header' %>

<% if flash[:message] %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= flash[:message] %>
  </div>
<% end %>

<div id="tables" class="container list">
  <div class="row header-row">
    <div class="col-md-12">
      <h3>
        <%= link_to select_table_path, html_options = {class: "btn btn-primary btn-lg"} do %>
          <i class="glyphicon glyphicon-chevron-left">Back</i>
        <% end %>
        Place a bid - Select table
      </h3>
    </div>
  </div>

  <% @user_groups.each_with_index do |user_group, index| %>
  <div class="col-md-12 list-item mask<%= index%8 + 1 %>">
    <%= link_to select_user_path(table_id: user_group.id) do %>
    	<span class="glyphicon glyphicon-chevron-right pull-right"></span>
      <%= user_group.name %>
    <% end %>
  </div>
  <% end %>
</div>
