<%= render partial: 'common/host_header', locals: {back_link: select_item_path(user_id: @user.id)} %>

<div id="bid" class="container" ng-controller="BidsCtrl" ng-init="init(<%= @user.id =%>, <%= @item.id =%>, <%= @last_bid.present? ? @last_bid.price + Bid::MINIMUM_INCREMENT : @item.start_price =%>)">

  <div class="row">
    <div class="col-md-12 bid-user"><%= @user.title %> <%= @user.first_name %> <%= @user.last_name %></div>
  </div>

  <div class="row">
    <div class="col-md-12 bid-item"><%= @item.code %> <%= @item.name %></div>
  </div>

  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-md-12 bid-price">${{price}}</div>
  </div>

  <div class="row">
    <div class="col-md-12 bid-actions">
      <button id="minus-50" type="submit" class="btn btn-primary btn-lg" ng-click="add(-50)"><b>-</b>$50</button>
      <button id="minus-10" type="submit" class="btn btn-primary btn-lg" ng-click="add(-10)"><b>-</b>$10</button>
      <button id="plus-10" type="submit" class="btn btn-primary btn-lg" ng-click="add(10)"><b>+</b>$10</button>
      <button id="plus-50" type="submit" class="btn btn-primary btn-lg" ng-click="add(50)"><b>+</b>$50</button>
    </div>
  </div>

  <div class="row" ng-show="message != ''">
    <div class="bid-message alert alert-danger">{{message}}</div>
  </div>

  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <button id="place-bid" type="submit" class="btn btn-primary btn-lg btn-success" ng-click="placeBid()">Place Bid</button>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>

</div>
